<a href="https://colab.research.google.com/github/RujanBhuju/Discretemath/blob/main/Project%237.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CPSMA-3913-01

#Dr Jacob's Discrete Math

#Rujan Bhuju(268963)

Here i will be creating three propositions which will be denoted by p, q, r.

p = GoGym


q = EatHealthy


r = WakeUpEarly

Importing the required library.

In [1]:
import pandas as pd

In [2]:
GoGym = p = True
EatHealthy = q = True
WakeUpEarly = r = False

Computing the truth of the statement (r ∧ p), (r ∨ ¬q) and (r ⇒ p).

for the statement (r ∧ p).

In [3]:
print(WakeUpEarly and GoGym)

False

Computing (¬q).

In [5]:
print(not(q))

False

truth statement for (r ∨ ¬q).

In [6]:
print(r or not(q))

False

Truth statement for (r ⇒ p).

In [7]:
print(not(r) or p)

True

Computing a complete truth table for ¬ (r ⊕ p) ⇒ (p ∨ q)

In [4]:
values = [True,False]
table = []

for r in values:
  for p in values:
    for q in values:
      row =[]
      row.append(r)
      row.append(p)
      row.append(q)
      row.append(r^p)
      row.append(not(r^p))
      row.append(p or q)
      row.append((not(r^p),p or q))
      table.append(row)

In [5]:

df = pd.DataFrame(table,columns = ['r','p','q','r xor q','-r xor p','p or q','-(r xor )->(p or q)'])
df

       r      p      q  r xor q  -r xor p  p or q -(r xor )->(p or q)
0   True   True   True    False      True    True        (True, True)
1   True   True  False    False      True    True        (True, True)
2   True  False   True     True     False    True       (False, True)
3   True  False  False     True     False   False      (False, False)
4  False   True   True     True     False    True       (False, True)
5  False   True  False     True     False    True       (False, True)
6  False  False   True    False      True    True        (True, True)
7  False  False  False    False      True   False       (True, False)